<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Transforma Negócios</title>

		<meta charset="utf-8" name="description" content="Portal sobre notícias, informações e dicas para alavancar o seu negócio">
		<meta http-equiv="content-language" content="pt-br">
		<meta name="keywords" content="erp, dicas, negócios, startup, PMBOK">
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-110678226-1');
		</script>

	</head>
	<body>	
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img class="logoMenu img-rounded" alt="Brand" height="40" width="65" src="/assets/logo.bmp">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
						<li class="menu"><a href="/interviews">Entrevistas</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">PT</a></li>
						<li><a href="/en/">EN</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="title">Transforma Negócios</h1>
					<h3 class="">Bem-vindo ao portal sobre notícias, informações e dicas para alavancar o seu negócio.</h3>
				</div>
				
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Deseja receber dicas de como criar um negócio investindo pouco?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo" />
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail do LinkedIn / Corporativo" />
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">INICIAR DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		<div class="container">
			<div class="row" style="margin-top: 30px;">
				<div class="conteudo col-lg-12" style="padding: 20px;">					
					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
								<img height="50" width="60" class="media-object" 
								src="/assets/erp-o-que-e-porque-e-tao-importante-para-o-seu-negocio-1.png" alt="Estrutura ERP">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/1">
									ERP - O que é e porque é tão importante para o seu negócio
								</a>
							</h4>
							<p class="text postTeaser">
								O ERP, sigla em inglês para Enterprise Resource Planning, ou em português, 
								Planejamento dos Recursos da Empresa é nada mais do que um sistema de informática que 
								cuida de todas as operações da rotina da sua empresa.  Desde o pagamento dos funcionários, 
								até o faturamento, passando pela gestão de processos. Isto é, tudo que se relaciona com a 
								administração e operação da empresa que pode ser feito de maneira digital é feito no ERP.
								
								<br/>
								<label>
									<a href="/articles/1">Ler mais</a>
								</label>
							</p>				    
						</div>
					</div>

					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/por-que-treinar-e-capacitar-1.png" alt="Treinamento">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/2">
									Por que treinar e capacitar?
								</a>
							</h4>	
							<p class="text postTeaser">
								Apesar da constante dinamicidade apresentada pelo mercado e do contínuo avanço da tecnologia, 
								o maior valor da empresa, e o que define como será o seu futuro, ainda são as pessoas.
								Portanto, é primordial para um bom negócio entender as aptidões e deficiências do time
								e fazer um investimento que promova desenvolvimento e superação. 
								Um time bem treinado é a forma mais eficiente de se ter sucesso nos negócios.

								<br/>
								<label>
									<a href="/articles/2">Ler mais</a>
								</label>
							</p>				    
						</div>				 
					</div>
				
					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/a-importancia-da-gestao-de-controle-de-acesso-no-negocio-1.png" alt="Controle de Acesso">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/4">
									A importância da Gestão de Controle de Acesso no seu negócio
								</a>
							</h4>	
							<p class="text postTeaser">
								Empresas investem milhões todos os anos em segurança da informação e 
								isso engloba também o controle de acesso e por que é tão 
								importante sua empresa possuir uma solução desse tipo?

								<br/>
								<label>
									<a href="/articles/4">Ler mais</a>
								</label>						
							</p>
						</div>				 
					</div>
				
					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/aprendizado-virtual-1.png" alt="Aprendizado Virtual">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/5">
									Aprendizado virtual
								</a>
							</h4>	
							<p class="text postTeaser">
								Quando se fala em tecnologia, a primeira que vem a 
								cabeça é entretenimento. Celulares, tablets são sempre 
								o maior foco das pessoas. Entretanto, muita gente não se dá conta 
								de como a tecnologia pode impactar e melhorar diversas áreas 
								em nossa sociedade. Seja na saúde, comunicação, transporte 
								ou qualquer outra área, a tecnologia, quando bem utilizada, 
								pode fazer uma enorme diferença. Um dos exemplos é a educação, 
								assunto que vamos explorar nesse artigo.
							
								<br/>
								<label>
									<a href="/articles/5">Ler mais</a>
								</label>
							</p>			    
						</div>				 
					</div>
					
					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/como-geracao-de-conteudo-impulsiona-o-seu-negocio-1.png" alt="Geração de Conteúdo">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/6">
									Como a geração de conteúdo impulsiona seu negócio
								</a>
							</h4>	
							<p class="text postTeaser">
								Em um mundo corporativo tão globalizado como temos hoje, 
								manter uma boa relação com clientes, parceiros, fornecedores 
								e com as próprias equipes de seu negocio é fundamental. 
								E como uma relação desse tipo pode ser cultivada?
							
								<br/>
								<label>
									<a href="/articles/6">Ler mais</a>
								</label>
							</p>			    
						</div>				 
					</div>

					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/startups-o-que-sao-e-os-primeiros-passos-1.png" alt="Startup">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/7">
									Startups - O que são e os primeiros passos
								</a>
							</h4>	
							<p class="text postTeaser">
								Hoje, ao se falar sobre empreendimento se ouve muito sobre startups. 
								Mas o que é exatamente uma startup? De maneira bem simplificada, 
								ela é uma empresa emergente, geralmente de tecnologia e que 
								está iniciando no mercado. Em outras palavras, uma empresa pequena. 
								Mas se engana quem pensa que uma startup não precisa de muita 
								organização. Para se ter uma ideia, apenas uma em cada dez 
								empresas que surgem conseguem prosperar e seguir nos negócios. 
								Mas como uma empresa pode se organizar e aumentar 
								as chances de sucesso?
							
								<br/>
								<label>
									<a href="/articles/7">Ler mais</a>
								</label>
							</p>			    
						</div>				 
					</div>

					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/as-5-fases-de-um-projeto-de-acordo-com-o-pmbok-1.png" alt="PMBOK">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/8">
									As 5 fases de um projeto de acordo com o PMBOK
								</a>
							</h4>	
							<p class="text postTeaser">
								Para quem não sabe, O PMBOK (Project Management Book of Knowledge) é 
								um guia de boas práticas de gestão de projetos publicado pelo PMI 
								(Project Management Institute), uma das principais referências 
								sobre o assunto. E de acordo com o PMBOK a definição de um projeto 
								é “um esforço temporário empreendido para criar um produto, 
								serviço ou resultado exclusivo.” Ou seja, um projeto não 
								é algo contínuo, sem fim ou repetitivo e cíclico.
							
								<br/>
								<label>
									<a href="/articles/8">Ler mais</a>
								</label>
							</p>			    
						</div>
					</div>
					
					<div class="col-lg-2"></div>
				</div>
			</div>
		</div>

		<!-- Footer -->
	    <footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height= "100" width="150"  class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright &copy; TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
	    </footer>

		<script src="/js/script.js"></script>
	</body>
</html>
