.logo {
	margin-bottom: 10px;
	margin-top: 10px;
}

.subtitulo {
	margin-top: 5px !important;
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}

.form {
	border: 2px solid #2c2f3c;
	padding: 10px;
}

.form-item {
	margin: 5px;
	border-radius: 20px;
	width: 75%;
}

.form-button {
	margin-top: 5px;
	width: 25%;
	border-radius: 20px;
}

.conteudo {
	padding: auto;
	margin: 5px;
	height: auto;
	border: 1px dashed black;
}

.titulo-conteudo {
	margin-bottom: 10px;
	font-size: 18px;
}

.navbar-inverse {
	background-color: #424659 !important;
	border-color: #2c2f3c !important;
}

.navbar-inverse .navbar-nav {
	font-size: 14px;
	font-weight: bold;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
	background: #383b48 !important;
	font-size: 16px;
	font-weight: bold;
}

#Nome-Empresa{
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
#conteudo{
	margin-bottom: 5px;
	margin-top: 5px;
}
#tituloConteudo{
	margin-bottom: 40px;
}
