<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						</a><a><img class="logoMenu img-rounded" alt="Brand" height="40" width="65" src="/assets/logo.bmp"></a>
					
				</div>
				<div class="navbar-collapse collapse" id="myNavbar" aria-expanded="false" style="height: 1px;">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/en/">Home</a></li>
						<li class="active menu"><a href="/interviews">Interviews</a></li>
						<li class="menu"><a href="/en/about">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">PT</a></li>
						<li><a href="/en/about">EN</a></li>
					</ul>
				</div>
			</div>
		</nav>
	
		<div class="container">
			<div class="row">
				
				<div class="col-lg-11 col-md-11 col-sm-12">
					<div class="sobre">
						<h2>
							<label>About our blog</label>
						</h2>
					</div>
				</div>
			</div>
			
			<div class="row" style="margin-top: 30px;">
				
				
				<div class="col-lg-5 col-md-5 col-sm-5" style="margin-right: 50px;">
					<div class="sobre">
						<p>
							The aim of our blog is sharing informations, news, trends, technology 
							solutions and all the others things that might help your business in 
							a good way.
						</p>
						
						<p>
							We also try to take you comfort and a make information reach you. That's why 
							we encourage you to subscribe with your email to receive everything in a simple 
							and pratical way.
						</p>
					</div>
				</div>
				
				<div class="row">
					<div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-center box">
							<div class="form text-center">
								<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
								<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
								<br>
								<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
								<br>
								<div style="background-color: #75a595;" class="form-control">
									<label class="radio-inline">
									  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
									</label>
									<label class="radio-inline">
									  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
									</label>
								</div>
								<br>
								<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
								<br>
								<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
							</div>
						</div>
					</div>
				</div>
                <hr>
                <div class="container">    
                    <div class="row">
                        <div class="col-lg-12" align="center">
                            <a><img style="margin-top: 20px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<!-- Footer -->
	    <footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
	    </footer>
		
		<script src="/js/script.js"></script>
	
	</body>
</html>