<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-110678226-1');
		</script>

	</head>
	<body>	
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img class="logoMenu img-rounded" alt="Brand" height="40" width="65" src="/assets/logo.bmp">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active menu"><a href="/">Home</a></li>
						<li class="menu"><a href="/about">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">PT</a></li>
						<li><a href="/en/">EN</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h2 class="subtitulo">
						<label>Welcome to the portal about news, information and tips to leverage your business.</label>
					</h2>
				</div>
				
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		<div class="container">
			<div class="row" style="margin-top: 30px;">
				<div class="conteudo col-lg-12" style="padding: 20px;">					
					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
								<img height="50" width="60" class="media-object" 
								src="/assets/erp-o-que-e-porque-e-tao-importante-para-o-seu-negocio-1.png" alt="Estrutura ERP">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/1">
									ERP – What it is, and why it's so important to your business
								</a>
							</h4>
							<p class="text postTeaser">
								ERP means Enterprise Resource Planning. It`s an information 
								system that manages all the operations of your enterprise. 
								It takes care from the payment of the employees, to the revenues, 
								including the business process management. Thus, all the 
								administration and operation related of the enterprise 
								that can be done digitally is done in the ERP.
								
								<br/>
								<label>
									<a href="/articles/1">Read more</a>
								</label>
							</p>				    
						</div>
					</div>

					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/por-que-treinar-e-capacitar-1.png" alt="Treinamento">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/2">
									Why train and capacitate?
								</a>
							</h4>	
							<p class="text postTeaser">
								Despite the dynamicity show by the market and the continuous 
								advance of the technology. The highest value of the company, 
								and what will define its future, are the people. Therefore, 
								it’s primordial for a for a good business to understand the 
								pros and cons of the team and make and investment that promotes 
								development and overcoming. A well trained team is the most 
								efficient way of achieving success in the business.

								<br/>
								<label>
									<a href="/articles/2">Read more</a>
								</label>
							</p>				    
						</div>				 
					</div>
				
					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/a-importancia-da-gestao-de-controle-de-acesso-no-negocio-1.png" alt="Controle de Acesso">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/4">
									The importance of an Access Control Management System
								</a>
							</h4>	
							<p class="text postTeaser">
								Companies invests millions every year in information security, 
								and this includes access control management and why is it so 
								important to invest in a solution like this?

								<br/>
								<label>
									<a href="/articles/4">Read more</a>
								</label>						
							</p>
						</div>				 
					</div>
				
					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/aprendizado-virtual-1.png" alt="Aprendizado Virtual">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/5">
									E-learning
								</a>
							</h4>	
							<p class="text postTeaser">
								When it comes to technology, the first thing that comes 
								to mind is entertainment. Cell phones, tablets are always 
								the biggest focus of people. However, many people do not 
								realize how technology can improve areas in our society. 
								Whether in health, communication, transportation or any 
								other area, provided it is properly used,  technology can 
								make a huge difference. For instance, when it is used for 
								educational purpose. We will discuss more this topic 
								in this article.
							
								<br/>
								<label>
									<a href="/articles/5">Read more</a>
								</label>
							</p>			    
						</div>				 
					</div>
					
					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/como-geracao-de-conteudo-impulsiona-o-seu-negocio-1.png" alt="Geração de Conteúdo">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/6">
									How to use Content Managent System to boost your business
								</a>
							</h4>	
							<p class="text postTeaser">
								In a corporative world so globalized as we have nowadays, 
								keeping a good relation with your clients, partners, 
								suppliers, and with your own team as well, it’s crucial. 
								And how can you work to keep this relation?
							
								<br/>
								<label>
									<a href="/articles/6">Read more</a>
								</label>
							</p>			    
						</div>				 
					</div>

					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/startups-o-que-sao-e-os-primeiros-passos-1.png" alt="Startup">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/7">
									Startups – What are and first steps
								</a>
							</h4>	
							<p class="text postTeaser">
								Today, when talking about entrepreneurship, one hears 
								a lot about startups. But what exactly is a startup? 
								In a very simplified way, it is an emerging company, 
								usually of technology and that is starting in the market. 
								In other words, a small company. But whoever thinks that a 
								startup does not need a lot of organization is wrong. 
								To get an idea, only one out of ten companies that are 
								emerging can thrive and succeed in business. But how can 
								a company get organized and increase the chances of success?
							
								<br/>
								<label>
									<a href="/articles/7">Read more</a>
								</label>
							</p>			    
						</div>				 
					</div>

					<div class="media item-conteudo">
						<div class="media-left">
							<a href="#">
							  <img height="50" width="60" class="media-object" 
							  src="/assets/as-5-fases-de-um-projeto-de-acordo-com-o-pmbok-1.png" alt="PMBOK">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading">
								<a class="text postLink" href="/articles/8">
									The 5 phases of a project according to PMBOK
								</a>
							</h4>	
							<p class="text postTeaser">
								PMBOK, for those who don’t know it, it’s a best practices guide 
								for project management published by PMI (Project Management Institute), 
								one of the main references on the subject. According to the PMBOK, 
								the definition of a project is "a temporary effort undertaken to 
								create a product, service or exclusive result." i.e., a project 
								is not something continuous, endless or repetitive and cyclical.
							
								<br/>
								<label>
									<a href="/articles/8">Read more</a>
								</label>
							</p>			    
						</div>
					</div>
					
					<div class="col-lg-2"></div>
				</div>
			</div>
		</div>

		<!-- Footer -->
	    <footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height= "100" width="150"  class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright &copy; TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
	    </footer>

		<script src="/js/script.js"></script>
	</body>
</html>
