<html>
	<head>
		<meta charset="UTF-8">
		<title>Mundo dos Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/script.js"></script>
	</head>
	<body>
		<header class="masthead">
	        <h3 class="text-muted" id="Nome-Empresa">Mundo dos Negócios</h3>
			<nav class="navbar navbar-inverse ">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand"><img alt="Brand" height="28" width="28" class="img-circle" src="/assets/images.jpg"></a>
						<ul class="nav navbar-nav">
							<li><a href="/">Página incial</a></li>
							<li><a href="/about">Sobre</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div>
		<div class="row">
			<div class="col-lg-2"></div>
			<div id="tituloConteudo" class="subtitle text-center col-lg-8" align="center">
				<h2>ERP - O que é e porque é tão importante para o seu negócio</h2>
			</div>			
			<div class="col-lg-2"></div>
		</div>	
	    <div class="container">

	      <div class="row">

	        <div class="col-lg-7">
	          <img src="/assets/imagemConteudo1.jpg" class="img-fluid" alt="Responsive image" width=600 height="300">
	          <hr>
	          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?
	          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
	      		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?
	          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
	      		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?
	          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
	        </div>
	        <!-- Sidebar Widgets Column -->
	        <div class="col-md-5">
	        	<div class="form text-center">
					<h4>Receba notícias diretamente no seu e-mail</h4>
					<input type="text" id="nome" name="nome" class="form-item text-center" placeholder="Nome Completo" />
					<br/>
					<input type="text" id="email" name="email" class="form-item text-center" placeholder="Email Corporativo" />
					<br/>
					<strong>
						<input type="button" id="confirmar" onclick="validarDados()" class="form-button btn-success text-center" name="confirmar" value="Confirmar" />
					</strong>
				</div>
	        </div>       

	          
	      </div>
	   	</div>		
	</body>
</html>