<html>
	<head>
		<meta charset="UTF-8">
		<title>Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/script.js"></script>
	</head>
	<body>
		<div class="container">    
			<div class="row">
				<div class="col-lg-12 " align="center">
					<a><img alt="Brand" height= "140" width="180"  class="img-rounded" src="/assets/logo.bmp"></a>    
				</div>
			</div>
		</div>
	
		<nav class="navbar navbar-inverse navbar-collapse collapse">
			<div class="navbar-header">
				<a href="/">
					<img id="logo-barra" alt="Brand" class="img-rounded" align="middle" src="/assets/logo.png" />
				</a>
			</div>
		
			<ul class="nav navbar-nav">
				<li class="menu"><a href="/">Página inicial</a></li>
				<li class="menu"><a href="/about">Sobre</a></li>
			</ul>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div id="tituloConteudo" class="subtitle text-center col-lg-6" align="center">
					<h2 class="text-center tituloPost">Por que treinar e capacitar?</h2>
				</div>			
			</div>	

			<div class="row">
				<div class="col-lg-7">
					<img src="/assets/por-que-treinar-e-capacitar-1.png" class="img-fluid" alt="ERP model" width=600 height="300">
					<hr>
					<p class="paragrafoPost">
						Apesar da constante dinamicidade apresentada pelo mercado e do contínuo avanço da tecnologia. 
						O maior valor da empresa, e o que define como será o seu futuro, ainda são as pessoas.
						Portanto, é primordial para um bom negócio entender as aptidões e deficiências do time
						e fazer um investimento que promova desenvolvimento e superação. 
						Um time bem treinado é a forma mais eficiente de se ter sucesso nos negócios.
					</p>	
					
					<p class="paragrafoPost">
						A conhecida “educação corporativa” pode ser encontrada em organizações de 
						diversos setores, mas que possuem algo em comum. 
						A promoção da informação e interação entre os seus profissionais, 
						além da constante qualificação tendo como métrica os mais altos níveis de excelência.
					</p>

					<h3 class="subtituloPost">Oportunidades</h3>
					<p class="paragrafoPost">
						Evidentemente é esperado do funcionário a proatividade e o 
						desejo de estar sempre se capacitando. 
						Contudo, não cabe apenas a ele, mas também a empresa oferecer 
						oportunidades de aprendizado e qualificação. 
						Tendo em vista que ambos serão beneficiados.
					</p>
					
					<p class="paragrafoPost">
						Outra consequência do incentivo por parte da empresa é de que isso
						cria uma fidelização de seus clientes internos, os funcionários, 
						gerando uma maior identificação e motivação nos mesmos.
						Além disso, se torna uma ótima ferramenta para conquistar novos e melhores colaboradores.
					</p>
					
					<p class="paragrafoPost">
						Porém, treinar apenas por treinar não é o suficiente. 
						É preciso que seja feito de maneira inovadora e personalizada para cada tipo de público.  
					</p>

					<h3 class="subtituloPost">Continuidade</h3>
					<p class="paragrafoPost">
						Para ser efetivo, o treinamento não deve acontecer de maneira pontual,
						mas sim, se tornar parte da cultura da empresa. 
						Sendo contínuo e estimulando a participação e o interesse de cada vez mais colaboradores.
					</p>

					<p class="paragrafoPost">
						Ouvir a opinião dos funcionários é primordial para saber 
						se a melhor abordagem está sendo feita. 
						Uma das maiores dificuldades para o funcionário se manter 
						interessado no aprendizado é a disponibilidade. 
						Com agendas cheias de atividades durante o dia, parece impensável
						parar por horas para ter uma aula em uma sala. 
						Para isso, um forte aliado das empresas é o e-learning, 
						o qual permite que o funcionário realize o treinamento em 
						casa ou de forma fragmentada durante momentos de alívio no trabalho.
					</p>
					
					<p class="paragrafoPost">
						É primordial que a adaptação seja constante nesse processo 
						e que os gestores da empresa saibam analisar os resultados, 
						avaliar o processo e mudar o rumo dos treinamentos. 
						Criando assim uma empresa com chances muito maiores de 
						crescimento e funcionários mais unidos. 
					</p>
						<p class="sobreArtigo">
						Artigo escrito por Lucas Celestino em 03 de Dezembro de 2017.<br />
						Publicado em 03 de Dezembro de 2017 às 22h:17min.
					</p>
					
				</div>
					
				<div class="col-md-5">
					<div class="form text-center">
						<h4 class="text invite">Receba notícias, posts e informações diretamente no seu e-mail</h4>
						<input type="text" id="nome" name="nome" class="invite form-item text-center" placeholder="Nome Completo" />
						<br/>
						<input type="text" id="email" name="email" class="invite form-item text-center" placeholder="E-mail Corporativo" />
						<br/>
						<strong>
							<input type="button" id="confirmar" onclick="validarDados()" class="invite form-button btn-success text-center" name="confirmar" value="Confirmar" />
						</strong>
					</div>
				</div>       
			</div>
			
			<hr/>
			<div class="container">    
				<div class="row">
					<div class="col-lg-12 " align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height= "100" width="150"  class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
		</div>
	</body>
</html>