<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div id="tituloConteudo" class="subtitle text-center col-lg-6" align="center">
					<h2 class="text tituloPost">A importância da Gestão de Controle de Acesso no negócio</h2>
				</div>			
			</div>	

			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<img src="/assets/a-importancia-da-gestao-de-controle-de-acesso-no-negocio-1.png" class="img-responsive img-fluid" alt="Negócios" width="600" height="300">
					<hr/>
					
					<p class="introducaoPost">
						Empresas investem milhões todos os anos em segurança da informação e 
						isso engloba também o controle de acesso e por que é tão 
						importante sua empresa possuir uma solução desse tipo?
					</p>
					
					<h3 class="subtituloPost">Segurança</h3>
					<p class="paragrafoPost">
						Uma empresa precisa de um minimo de segurança para que tudo 
						funcione e caminhe como o planejado para evitar que eventuais 
						imbróglios aconteçam. 
						Uma simples gestão de controle de acesso ja soluciona muitos 
						problemas, fornecendo permissões aos usuários, como que funcionalidades 
						eles terão acesso dentro do sistema, que horas eles podem acessar 
						o sistema, pois não faz sendito uma pessoa da equipe de 
						desenvolvimento, ter acesso a informações que a gerencia 
						usa pra tomada de decisão, permitindo que cada 
						colaborador foque em sua tarefa apenas.
					</p>
					
					<p class="paragrafoPost">
							Definir horarios e tempos de acesso é importantissimo, 
							afinal, se um funcionário entra de férias, não tem porque 
							ele acessar o sistema, se sua empresa em uma auditoria 
							é pega com algo do tipo, um funcionario de férias trabalhando, 
							quem se prejudica é você e seu negócio. 
							Fora casos mais extremos onde o funcionario sai d
							a empresa e seu aceso continua la pra sempre e pode 
							ser utilizado a vontade, um sistema adequado, 
							desativa ou trancas os acessos de imediato quando necessário.
					</p>
					
					<p class="paragrafoPost">
						Fora registrar o que está sendo feito, quando está 
						sendo feito e por quem está sendo feito, caso algo aconteça 
						que comprometa um banco de dados, prejudique o sistema, 
						ou até pior prejudique algum cliente, alguem foi responsavel 
						por isso, e se o seu sistema registra todas as atividades, 
						será facil identificar o responsal e o que ele fez, 
						tornando a medida corretiva mais rapida e assertiva.
					</p>
					
					<h3 class="subtituloPost">Praticidade</h3>
					<p class="paragrafoPost">
						Esquecimento de senha pode não ser algo tão constante mas em uma empresa 
						com muitos colaboradores isso pode acabar se tornando um problema. 
						Imagine se tem um dia que dezenas ou centenas de pessoas da sua 
						empresa esqueceram ou perderam suas senhas, para acabar 
						recuperando isso, ia se gastar muito tempo que poderia 
						estar sendo gasto em alguma atividade que estivesse gerando valor a empresa. 
						E existem soluções no mercado que evitam este tipo de gargalo, 
						tornando esse processo de recuperação ou troca de senha, 
						permitindo que o usuario escolha o melhor meio que ele 
						se sinta mais confortavel para realizar a recuperação de sua senha, 
						criando autosuficiencia do usuario, não havendo a necessidade de 
						ninguem ajuda-lo nesse processo gerando muito mais agilidade, 
						e evitando que precise alocar outras pessoas para a 
						solução de uma problema tão simples.
					</p>
					
					<p class="sobreArtigo">
						Artigo escrito por Victor Hussein em 04 de Dezembro de 2017.<br />
						Publicado em 04 de Dezembro de 2017 às 17h:20min.
					</p>					
				</div>
					
				<div class="row">
					<div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-center box">
							<div class="form text-center">
								<h4 class="text invite">Deseja receber dicas de como criar um negócio investindo pouco?</h4>
								<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo">
								<br>
								<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail Corporativo">
								<br>
								<div style="background-color: #75a595;" class="form-control">
									<label class="radio-inline">
									  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
									</label>
									<label class="radio-inline">
									  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
									</label>
								</div>
								<br>
								<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">INICIAR DOWNLOAD</button>
								<br>
								<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
							</div>
						</div>
					</div>
				</div>
                <hr>
                <div class="container">    
                    <div class="row">
                        <div class="col-lg-12" align="center">
                            <a><img style="margin-top: 20px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<!-- Footer -->
	    <footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocios/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
	    </footer>
		
		<script src="/js/script.js"></script>
		
	</body>
</html>