<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div id="tituloConteudo" class="subtitle text-center col-lg-6" align="center">
					<h2 class="text-center tituloPost">Como a geração de conteúdo impulsiona seu negócio</h2>
				</div>			
			</div>	

			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">

					<img src="/assets/como-geracao-de-conteudo-impulsiona-o-seu-negocio-1.png" class="img-responsive img-fluid" alt="Geração de Conteúdo" width="600" height="300" />
					<hr>
					<p class="introducaoPost">
						Em um mundo corporativo tão globalizado como temos hoje, 
						manter uma boa relação com clientes, parceiros, fornecedores 
						e com as próprias equipes de seu negocio é fundamental. 
						E como uma relação desse tipo pode ser cultivada?
					</p>	
					
					<p class="paragrafoPost">
						Com nossa solução você não demanda conhecimento técnico ou 
						dependência de uma área de TI. Algumas empresas enfrentam 
						dificuldades com portais, falta de usabilidade, pouco intuitivo, 
						atualizações pouco frequentes, são algumas das características 
						que acabaram acarretando esse tipo de decisão, que acaba 
						impedindo que novas oportunidade sejam criadas, 
						ou manter as parcerias já existentes.
					</p>
					
					<p class="paragrafoPost">
						Nossa solução vai mudar seu modo de enxergar esses portais, 
						sejam eles intranet, extranet, portal de atendimento, portal de 
						vendas, etc, totalmente personalizado de acordo com sua necessidade 
						e gosto, oferecendo uma interface amigável e intuitiva, 
						afinal, nosso objetivo é agradar todos os usuários do sistema.
					</p>
					
					<p class="paragrafoPost">
						Quando disse que não haveria necessidade de conhecimentos 
						técnicos ou dependência de uma área de TI, quis dizer que 
						nossa solução, conta com layouts e widgets já prontos, 
						isso garante sua autonomia na hora de customizar seu 
						portal e deixa-lo com a cara da sua empresa, além de ser 
						multiplataforma, ou seja, você pode usa-lo com o dispositivo 
						que estiver mais perto de você, deixando a experiência 
						digital cada vez mais próxima ao usuário.
					</p>

					<p class="paragrafoPost">
						E como todas as partes de nossa solução visam aumento de sua 
						produtividade e receita, este módulo ajudara com novas 
						oportunidades, pois o portal mais amigável e intuitivo 
						prende a atenção de quem acessa, como em um portal de vendas, 
						ou facilita a comunicação que garante uma otimização nos 
						processos e garante uma entrega mais rápida e eficiente, 
						como a intranet. Independente de seu problema, nós temos a solução.
					</p>

					<p class="sobreArtigo">
						Artigo escrito por Victor Hussein em 05 de Dezembro de 2017.<br />
						Publicado em 05 de Dezembro de 2017 às 18h:45min.
					</p>					
				</div>
					
				<div class="row">
					<div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-center box">
							<div class="form text-center">
								<h4 class="text invite">Deseja receber dicas de como criar um negócio investindo pouco?</h4>
								<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo">
								<br>
								<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail Corporativo">
								<br>
								<div style="background-color: #75a595;" class="form-control">
									<label class="radio-inline">
									  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
									</label>
									<label class="radio-inline">
									  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
									</label>
								</div>
								<br>
								<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">INICIAR DOWNLOAD</button>
								<br>
								<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
							</div>
						</div>
					</div>
				</div>
                <hr>
                <div class="container">    
                    <div class="row">
                        <div class="col-lg-12" align="center">
                            <a><img style="margin-top: 20px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<!-- Footer -->
	    <footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocios/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
	    </footer>
		
		<script src="/js/script.js"></script>
		
	</body>
</html>