<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div id="tituloConteudo" class="subtitle text-center col-lg-6" align="center">
					<h2 class="text-center tituloPost">Como a geração de conteúdo pode impulsionar seu negócio</h2>
				</div>			
			</div>	

			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">

					<img src="/assets/como-geracao-de-conteudo-impulsiona-o-seu-negocio-1.png" class="img-responsive img-fluid" alt="Geração de Conteúdo" width="600" height="300" />
					<hr>
					<p class="introducaoPost">
						Em um mundo corporativo tão globalizado como temos hoje, 
						manter uma boa relação com clientes, parceiros, fornecedores 
						além de com suas próprias equipes é fundamental. 
						E como uma relação desse tipo pode ser cultivada?
					</p>	
					
					<h3 class="subtituloPost">1- Aproveite as oportunidades</h3>
					<p class="paragrafoPost">
						Que oportunidades são essas? Você deve estar se perguntando. 
						Um negócio de sucesso é um negócio que soube aproveitar as 
						oportunidades de melhor forma, analisando onde seus concorrentes, 
						falharam em atender seus clientes de forma adequada, afinal quem 
						é mais importante em um negócio para mantê-lo de pé? O cliente 
						precisa ter um canal de comunicação facil com você para conhecer 
						mais do seu trabalho, o que seus segmentos fazem, como ele pode 
						ser ajudado e etc. isso pode ser resolvido com de uma forma 
						simples mas que muitas empresas não dão valor, um portal.
					</p>

					<h3 class="subtituloPost">2- Como criar meu portal?</h3>
					<p class="paragrafoPost">
						Existem soluções no mercado que você não necessita de conhecimentos 
						técnicos tampouco ficar dependente de uma equipe de TI, eles ja 
						vem com templates e diversas funcionalidades próprias, você só 
						precisa montar do seu jeito e deixa com a cara do seu negócio, 
						seja ele um portal de atendimento ou um portal de vendas, criando 
						uma identidade única. Essas soluções possuem excelente usabilidade 
						e são bem intuitivas, facilitando a vida do usuário, muitas empresas 
						criam uma página de qualquer jeito, difícil de usar e que não prende 
						a atenção do usuário, muitas oportunidades estão sendo perdidas ai, 
						pois potenciais clientes acabam indo buscar em outros lugares que ele 
						consiga entender o ambiente que está interagindo com mais facilidade.
					</p>
					
					<h3 class="subtituloPost">3- Intranet</h3>
					<p class="paragrafoPost">
						Além de facilitar a vida do cliente, você também precisa ajudar 
						o outro lado também, seus colaboradores, e como fazer isso? Uma 
						boa intranet, uma plataforma que permite que as diferentes unidades 
						e departamentos de sua empresa comuniquem entre si, mesmo que fisicamente 
						distantes, evitando gastos com correspondência, telefone, 
						impressão de documentos entre outros, fora o ganho de performance 
						que seu negócio terá, já que não será perdido tempo esperando uma 
						documentação para liberação ou autorização de determinada atividade. 
						Assim como citado no ponto anterior existem soluções no mercado que 
						contemplam tudo isso e não exigem conhecimento técnico por parte do usuário, 
						seja um portal como citado anteriormente, uma intranet ou uma extranet. 
						Com uma intranet bem feita e de fácil entendimento, seus colaboradores 
						serão muito mais produtivos e eficientes.
					</p>

					<h3 class="subtituloPost">4- Extranet</h3>
					<p class="paragrafoPost">
						Assemelha-se com a intranet com a diferença que, ela acaba sendo uma 
						extensão da sua empresa para fornecedores, vendedores, parceiros, 
						diferente da intranet que é algo privado de sua empresa, a extranet é 
						estendida aos usuários mas com visões parciais dos seus dados corporativos, 
						o extranet é a parte privada de um site, em que precisa 
						de login e senha para se ter acesso.
					</p>
					
					<p class="paragrafoPost">
						Essas são formas que você mesmo pode criar o conteúdo de 
						sua empresa e agregar muito valor ao seu negócio e alcançar 
						sua auto suficiência nesse quesito, afinal, auto suficiência 
						em certos segmentos, permite que possa ser investido 
						mais tempo em outros.
					</p>


					
					<p class="sobreArtigo">
						Artigo escrito por Victor Hussein em 05 de Dezembro de 2017.<br />
						Publicado em 05 de Dezembro de 2017 às 18h:45min.
					</p>					
				</div>
					
				<div class="row">
					<div>
						<div class="col-lg-6 col-md-6 col-sm-6 text-center box">
							<div class="form text-center">
								<h4 class="text invite">Deseja receber dicas de como criar um negócio investindo pouco?</h4>
								<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo">
								<br>
								<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail Corporativo">
								<br>
								<div style="background-color: #75a595;" class="form-control">
									<label class="radio-inline">
									  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
									</label>
									<label class="radio-inline">
									  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
									</label>
								</div>
								<br>
								<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">INICIAR DOWNLOAD</button>
								<br>
								<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
							</div>
						</div>
					</div>
				</div>
                <hr>
                <div class="container">    
                    <div class="row">
                        <div class="col-lg-12" align="center">
                            <a><img style="margin-top: 20px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<!-- Footer -->
	    <footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocios/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
	    </footer>
		
		<script src="/js/script.js"></script>
		
	</body>
</html>