<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Aprendizado virtual - Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">Aprendizado virtual</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						Quando se fala em tecnologia, a primeira que vem a 
						cabeça é entretenimento. Celulares, tablets são sempre 
						o maior foco das pessoas. Entretanto, muita gente não se dá conta 
						de como a tecnologia pode impactar e melhorar diversas áreas 
						em nossa sociedade. Seja na saúde, comunicação, transporte 
						ou qualquer outra área, a tecnologia, quando bem utilizada, 
						pode fazer uma enorme diferença. Um dos exemplos é a educação, 
						assunto que vamos explorar nesse artigo.
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/aprendizado-virtual-1.png" class="img-responsive img-fluid" alt="Aprendizado" width="600" height="300" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Deseja receber dicas de como criar um negócio investindo pouco?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail do LinkedIn / Corporativo">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">INICIAR DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">	
					<h3 class="subtituloPost">O mundo de hoje</h3>
					<p class="paragrafoPost">
						A capacitação profissional e corporativa é um dos assuntos mais 
						relevantes no mercado atual, empresas procuram capacitar seus 
						profissionais e alunos de forma rápida e prática, 
						em um sistema integrado que fornece comunicação digital
						de maneira inovadora através de soluções rápidas 
						atendendo as necessidades dos usuários.
					</p>
					
					<p class="paragrafoPost">
						Plataformas digitais trazem vantagens para o entendimento, 
						além da organização de assuntos e acompanhamento das 
						tarefas no decorrer do processo, afinal para cada 
						pessoa existe um caminho de conhecimento a ser percorrido.
					</p>
					
					<h3 class="subtituloPost">Sala de Aula Virtual</h3>
					<p class="paragrafoPost">
						O novo modelo de ensino tem por base fornecer fácil acesso a uma 
						metodologia estruturada com funções de interação, questionamentos 
						e exemplificação, com suporte pedagógico e técnico, os estudos 
						são planejados através de um sistema com as horas estabelecidas 
						que deverá ser cumprida pelo usuário conforme sua disponibilidade.
					</p>
					
					<p class="paragrafoPost">
						 O gerenciamento de cursos é feito pela plataforma digital e 
						 permite a utilização de mídias e a interação entre aluno e professor, 
						 através da troca de informações por fórum, vídeos e 
						 documentos necessários para estudo.
					</p>
					
					<p class="paragrafoPost">
						Conforme a tecnologia avança, a forma como as pessoas 
						interagem entre si muda constantemente, devido à existência 
						de uma diversidade de informações que estão disponíveis hoje na internet. 
						O intuito da sala de aula virtual é justamente fornecer uma 
						estrutura modular com assuntos relacionados ao curso 
						permitindo ao usuário um ensino flexível.
					</p>

					<p class="sobreArtigo">
						Artigo escrito por Otávio Moreira da Silva em 04 de Dezembro de 2017.<br />
						Publicado em 04 de Dezembro de 2017 às 23h:54min.
					</p>	
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/script.js"></script>		
	</body>
</html>