<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Dicas para ter um negócio investindo pouco - Transforma Negócios</title>
		
		<meta charset="utf-8" name="description" content="Dicas para começar um novo negócio de forma segura e simples.">
		<meta http-equiv="content-language" content="pt-br">
		<meta name="keywords" content="erp, dicas, negócios, startup, PMBOK">
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/interviews">Entrevistas</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/articles/dicas-negocio-investindo-pouco">PT</a></li>
						<li><a href="/en/articles/tips-business-investing-low">EN</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">Dicas para ter um negócio investindo pouco</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						Sabe aquela ideia que você tem mas acredita que vai ser muito 
						difícil colocar em prática? Ou então o medo de iniciar um negócio,
						investir demais e não obter nenhum resultado no início? Calma. Neste post 
						vamos apresentar algumas dicas interessantes, que vão te auxiliar 
						a iniciar essa caminhada no mundo dos negócios, de uma forma mais
						simples e que te ajudem a evitar alguns problemas.
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/dicas-para-ter-um-negocio-investindo-pouco-1.png" class="img-responsive img-fluid" alt="Negócios" width="600" height="300">
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Deseja receber dicas de como criar um negócio investindo pouco?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail do LinkedIn / Corporativo">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">INICIAR DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">
					<h3 class="subtituloPost">1 – Comece o negócio em um ramo já conhecido por você</h3>					
					<p class="paragrafoPost">
						Primeiro faça uma autoanálise de quais são suas principais skills.
						Empreender é otimizar custos o tempo todo, logo, 
						quando se tem pouco capital para investir, 
						é fundamental tirar proveito de toda sua experiência 
						já adquirida no mercado para ganhar terreno e implementar
						ações que visam retorno logo no início das operações.
					</p>
					
					<h3 class="subtituloPost">2 - Está com receio de tudo dar errado? Vá com calma!</h3>
					<p class="paragrafoPost">
						É preciso pensar grande, mas nunca tirar os pés do chão. 
						É preciso planejar as ações de curto prazo da sua empresa 
						para que os objetivos sejam alcançados mais rapidamente. 
						Com isso, você ganhará confiança para arriscar mais.
					</p>
					
					<h3 class="subtituloPost">3 – Busque ajuda de amigos e familiares</h3>
					<p class="paragrafoPost">
						Os primeiros passos são os mais complicados em qualquer situação. 
						Empreender não é diferente. Ter pessoas que apostam em você 
						poderá contribuir para avanços importantes nessa etapa inicial do negócio. 
						Como por exemplo, amigos e familiares dispostos a ajuda-lo com pequenas quantias.
					</p>
					
					<h3 class="subtituloPost">4 – Procure focar em um nicho</h3>
					<p class="paragrafoPost">
						Identifique um setor em que você possa realmente fazer a diferença. 
						Foque em um nicho específico. 
					</p>
					
					<h3 class="subtituloPost">5 – Entenda bem a demanda para não perder dinheiro</h3>
					<p class="paragrafoPost">
						Antes de oferecer um produto, é importante entender e atender a demanda do mercado. 
						É necessário encontrar os primeiros interessados em adquirir o serviço, assim,
						o negócio possuirá grandes chances de dar certo,
						sem perdas de capital na validação.
					</p>
					
					<h3 class="subtituloPost">6 – Divulgue sua ideia, sem medo de plágio!</h3>
					<p class="paragrafoPost">
						Fale sobre seu negócio para várias pessoas. 
						Isso vale mais do que o medo de roubarem sua ideia. 
						É normal o negócio possuir concorrência e não é porque você lançou 
						o produto/serviço antes dos outros que será o líder do mercado. 
						Esta divulgação ajudará no dia em que você lançar seu negócio. 
					</p>
					
					<h3 class="subtituloPost">7 - Transforme seus amigos em seus primeiros clientes</h3>
					<p class="paragrafoPost">
						Divulgue e ofereça seu produto ou serviço às pessoas próximas de você, 
						para que possam conhecer e iniciar espontaneamente uma divulgação em 
						seus círculos sociais. Além de ser a menos custosa, a mídia 
						espontânea é a que traz um retorno mais efetivo.
					</p>
					
					<h3 class="subtituloPost">8 – Aprenda novas habilidades para poupar com contratações</h3>
					<p class="paragrafoPost">
						Aprenda mais sobre o seu negócio – faça pesquisas em blogs e vídeos comerciais, por exemplo. 
						Estas pequenas tarefas iniciais geram bastante custo caso forem terceirizadas. 
						Quanto mais você conseguir botar a mão na massa, melhor será ao seu bolso!
					</p>
					
					<h3 class="subtituloPost">9 – Considere a possibilidade de empreender digitalmente</h3>
					<p class="paragrafoPost">
						Negócios digitais são perfeitos para quem tem tempo disponível e 
						pouco capital para investir. Uma boa ideia de aplicativo ou de serviço 
						permite que você faça ajustes rápidos e refine sua oferta sem 
						demandar capital de giro ou compra de ponto.
					</p>
					
					<h3 class="subtituloPost">10 – Estude sobre marketing digital</h3>
					<p class="paragrafoPost">
						Hoje em dia entender sobre marketing digital é fundamental. 
						Caso contrário, para conseguir aparecer nos buscadores, 
						você terá que investir em uma mão de obra que possua 
						este conhecimento.
					</p>
										
					<p class="sobreArtigo">
						Artigo escrito por Bianca Lucena em 03 de Dezembro de 2017.<br />
						Publicado em 04 de Dezembro de 2017 às 13h:42min.
					</p>
					
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="/js/script.js"></script>
	</body>
</html>