<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>ERP - O que é e porque é tão importante para o seu negócio - Transforma Negócios</title>

		<meta charset="utf-8" name="description" content="Planejamento dos Recursos da Empresa é nada mais do que um sistema de informática que 
		cuida de todas as operações da rotina da sua empresa.  Desde o pagamento dos funcionários, até o faturamento, passando pela gestão de processos.">
		<meta http-equiv="content-language" content="pt-br">
		<meta name="keywords" content="erp, dicas, negócios, startup, PMBOK">

		<link rel="icon" href="/assets/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/interviews">Entrevistas</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/articles/erp-porque-importante-negocio">PT</a></li>
						<li><a href="/en/articles/erp-why-important-business">EN</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">ERP - O que é e porque é tão importante para o seu negócio</h1>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<h3 class="subtituloPost">ERP</h3>
					<p class="paragrafoPost">
						O ERP, sigla em inglês para Enterprise Resource Planning, ou em português, 
						Planejamento dos Recursos da Empresa é nada mais do que um sistema de informática que 
						cuida de todas as operações da rotina da sua empresa.  Desde o pagamento dos funcionários, 
						até o faturamento, passando pela gestão de processos. Isto é, tudo que se relaciona com a 
						administração e operação da empresa que pode ser feito de maneira digital é feito no ERP.
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/erp-o-que-e-porque-e-tao-importante-para-o-seu-negocio-1.png" class="img-responsive img-fluid" alt="Estrutura ERP" width="600" height="300">
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Deseja receber dicas de como criar um negócio investindo pouco?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail do LinkedIn / Corporativo">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">INICIAR DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">	
					<h3 class="subtituloPost">Módulos</h3>
					<p class="paragrafoPost">
						O ERP costuma ser dividido em dois módulos, que refletem 2 visões, Departamento e Segmento.
						Na visão departamental, temos os módulos Contábil, Financeiro, Compras, entre outros. 
						Nessa visão pode-se ver os processos de cada departamento na mesma tela. 
						Deste modo, o usuário tem sua vida facilitada, já que nele não teremos pessoas de 
						fora da área de pagamento vendo essas informações, assim como os funcionários 
						da produção não terão acesso a parte financeira.
						A visão por segmento, ao contrário da departamental, mostra apenas um processo do segmento. 
						Por exemplo, uma empresa de transporte tem um processo que visa atender apenas às suas atividades,
						o qual difere de uma escola que terá um controle de faltas, por exemplo.
						Os módulos com visão departamental suportam rotinas padrões que pouco mudam de uma empresa para outra.
					</p>

					<h3 class="subtituloPost">Objetivo</h3>
					<p class="paragrafoPost">
						O objetivo do ERP é o de organizar o trabalho numa empresa. 
						Isso é feito armazenando suas informações referentes a clientes, funcionários, 
						produtos, entre outras e fazendo com que elas conversem entre si. 
						O ERP então, integra os processos com base em regras pré-estabelecidas pela empresa 
						para atender as tarefas diárias feitas pelos colaboradores da empresa.
					</p>

					<h3 class="subtituloPost">Vantagens</h3>
					<p class="paragrafoPost">
						As vantagens de se adotar um sistema ERP podem ser tanto tangíveis, como intangíveis. Naquele, podemos citar:
						
						</p><ul class="paragrafoPost">
							<li>Redução de custos com desperdício de materiais e mão de obra;</li>
							<li>Automação de processos;</li>
							<li>Menor prazo de entrega;</li>
							<li>Redução de custos com TI;</li>
							<li>Aumento de receitas e lucros.</li>
						</ul>
					<p></p>
					
					<p class="paragrafoPost">
						Já para os intangíveis teremos:
						
						</p><ul class="paragrafoPost">
							<li>Gestão tributária com menos riscos de multas;</li>
							<li>Melhor comunicação entre os setores;</li>
							<li>Melhor aproveitamento do tempo dos gestores;</li>
							<li>Auxílio na tomada de decisões;</li>
							<li>Melhoria no relacionamento com os clientes.</li>
						</ul>
					<p></p>
					
					<br>
					
					<p class="paragrafoPost">
						<strong>
							Portanto, o ERP é o responsável por organizar a sua empresa. 
							Sendo uma ferramenta indispensável para o crescimento do seu negócio.
						</strong>
					</p>
						<p class="sobreArtigo">
						Artigo escrito por Lucas Celestino em 03 de Dezembro de 2017.<br>
						Publicado em 03 de Dezembro de 2017 às 18h:38min.
					</p>
					
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="/js/script.js"></script>		
	</body>
</html>