<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Startups - O que são e primeiros passos - Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">Startups - O que são e primeiros passos</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						Hoje, ao se falar sobre empreendimento se ouve muito sobre startups. 
						Mas o que é exatamente uma startup? De maneira bem simplificada, 
						ela é uma empresa emergente, geralmente de tecnologia e que está 
						iniciando no mercado. Em outras palavras, uma empresa pequena. 
						Mas se engana quem pensa que uma startup não precisa de muita organização. 
						Para se ter uma ideia, apenas uma em cada dez empresas que surgem 
						conseguem prosperar e seguir nos negócios. Mas como uma empresa 
						pode se organizar e aumentar as chances de sucesso?
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/startups-o-que-sao-e-os-primeiros-passos-1.png" class="img-responsive img-fluid" alt="Startup" width="600" height="300" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Deseja receber dicas de como criar um negócio investindo pouco?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail do LinkedIn / Corporativo">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">INICIAR DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">
					<p class="paragrafoPost">
						Há no mercado atualmente muitos planos de negócios 
						para empresas que as ajudam a ter um Norte, principalmente 
						no início, e também a realizar uma constante observação 
						de sua saúde. Esses planos contam sempre com três bases: 
						financeira, organizacional e de eficiência. 
						Esse trabalho, embora difícil, é primordial para 
						que no futuro a empresa dê frutos.
					</p>
					
					<p class="paragrafoPost">
						Para se mensurar qual o alcance almejado de 
						nossa empresa no mercado e o foco que devemos ter, 
						podemos usar o Business Model Canvas, por exemplo. 
						Nesse plano de negócios o gestor avalia pontos como o 
						cliente alvo, como buscá-los, como manter nossa 
						empresa produtiva e qual o fluxo de dinheiro que 
						deve entrar e sair. O BMC é uma ótima ferramenta 
						para validar o seu negócio, avaliar se a empresa tem 
						boas chances no mercado, ou não, entre outras 
						funcionalidades. No entanto, deve-se sempre considerar 
						um ou mais planos para fazer a validação de sua empresa, 
						sem esquecer de que essa avaliação tem que ser periódica 
						e de que o Business Model Canvas não é o único meio, 
						e não necessariamente o melhor para o seu negócio.
					</p>
					
					<p class="paragrafoPost">
						Por fim, tendo feito isso, é preciso organizar a 
						empresa para que não haja desperdício, retrabalho 
						ou erro organizacional grave. Uma das formas de se 
						conseguir eficiência na administração é utilizando 
						softwares de gestão empresarial que se adequem às 
						necessidades de sua empresa. No mercado existem 
						diversas soluções que podem ser focadas numa determinada 
						área ou processo e também as soluções que integram todos 
						os setores do seu negócio. Mas então, após todo 
						esse investimento e estudo, podemos garantir sua 
						empresa terá sucesso no mercado? Não, no entanto 
						terá muito mais chances de prosperar.
					</p>
					
					<p class="sobreArtigo">
						Artigo escrito por Adolpho Ferreira em 05 de Dezembro de 2017.<br />
						Publicado em 06 de Dezembro de 2017 às 01h:12min.
					</p>	
				</div>
			</div>
		</div>

				<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/script.js"></script>
		
	</body>
</html>