<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Entrevista exclusiva com Thaís Nobre, criadora do  projeto "Se vira, Mulher" - Transforma Negócios</title>

		<meta charset="utf-8" name="description" content="Planejamento dos Recursos da Empresa é nada mais do que um sistema de informática que 
		cuida de todas as operações da rotina da sua empresa.  Desde o pagamento dos funcionários, até o faturamento, passando pela gestão de processos.">
		<meta http-equiv="content-language" content="pt-br">
		<meta name="keywords" content="erp, dicas, negócios, startup, PMBOK">

		<link rel="icon" href="/assets/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Página inicial</a></li>
						<li class="menu"><a href="/about">Sobre</a></li>
						<li class="menu"><a href="/interviews">Entrevista</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">Entrevista exclusiva com Thaís Nobre, criadora do  projeto "Se vira, Mulher"</h1>
				</div>
				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">
					<div class="topico">
						<p class="pergunta">Transforma Negócios: Olá! Fale um pouco sobre você e também sobre a startup “Se vira, Mulher!”</p>
						<p class="resposta">
							Thaís: Sou a Thais Nobre, tenho 24 anos e sou Engenheira de Controle e Automação. 
							Há exatos 10 meses criei o <a href="https://www.seviramulher.com/" target="_blank">Se Vira, Mulher!</a>, cuja principal atividade 
							é a realização de mini-cursos de manutenção residencial básica 
							para mulheres, ou seja, somos mulheres que ensinam mulheres 
							a fazerem coisas como trocar um chuveiro, uma tomada ou 
							instalar uma prateleira.
						</p>
					</div>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/entrevista-exclusiva-Thais-Nobre-criadora-Se-vira-Mulher-1.png" 
					class="img-responsive img-fluid" alt="Projeto Se vira, Mulher" width="600" height="300">
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">
					<div class="topico">
						<h3 class="pergunta">TN: Como surgiu a ideia para o seu negócio?</h3>
						<p class="resposta">
							Thaís: A ideia surgiu nas redes sociais, onde eu observava 
							a grande procura de mulheres por prestadoras de serviços 
							desta área (eletricistas, encanadoras, etc), para trabalhos 
							muitas vezes simples de fazer. São coisas que os homens são, 
							desde cedo, socialmente estimulados a aprender, ao contrário 
							de nós, mulheres. Hoje não enfrentamos nenhum tipo de 
							competição no mercado, pois somos a única empresa 
							especializada nesta atividade.
						</p>
					</div>
					
					<div class="topico">
						<h3 class="pergunta">TN: Que parte da sua experiência pessoal ajudou mais para dar-lhe uma vantagem competitiva em seu negócio?</h3>
						<p class="resposta">
							Thaís: Minha experiência pessoal foi e é fundamental 
							para o surgimento e crescimento da empresa, pois, 
							além de já possuir o conhecimento técnico necessário 
							para ministrar os cursos, também participo de atividades 
							relacionadas ao movimento de empoderamento feminino 
							há algum tempo, o que é a base dos valores e 
							diretrizes do <a href="https://www.facebook.com/projetoseviramulher/" target="_blank">Se Vira, Mulher.</a>
						</p>
					</div>

					<div class="topico">
						<h3 class="pergunta">TN: Quais foram algumas das suas falhas, e o que aprendeu com eles?</h3>
						<p class="resposta">
							(...)
						</p>
						
						<p class="entrevistaCompleta">
							Quer acessar a entrevista completa?<br/>
							Cadastre-se e receba a entrevista na íntegra.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Nome Completo">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail do LinkedIn / Corporativo">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Pessoa Física</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Pessoa Jurídica</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">ENTREVISTA COMPLETA</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Obrigado, seu download irá começar em breve...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		
		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="/js/script.js"></script>		
	</body>
</html>