<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Home</a></li>
						<li class="menu"><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h2 class="text-center tituloPost">Why train and capacitate?</h2>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="paragrafoPost">
						Despite the dynamicity show by the market and the continuous 
						advance of the technology. The highest value of the company, 
						and what will define its future, are the people. Therefore, 
						it’s primordial for a for a good business to understand the 
						pros and cons of the team and make and investment that promotes 
						development and overcoming. A well trained team is the most 
						efficient way of achieving success in the business.
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/por-que-treinar-e-capacitar-1.png" class="img-responsive img-fluid" alt="Treinamento" width="600" height="300" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">					
					<h3 class="subtituloPost">Corporative Education</h3>
					<p class="paragrafoPost">
						The known “corporative education” can be found in institutions 
						of different industries, but that have something in common, the 
						promotion of the information and the interaction among their employees, 
						besides the constant qualification having as a metric 
						of the highest levels of excellence.
					</p>

					<h3 class="subtituloPost">Opportunities</h3>
					<p class="paragrafoPost">
						Obviously, it’s expected from the employee the proactivity and the 
						desire to always be training. However, it is not only up to him, 
						but also the company to offer opportunities for learning 
						and qualification. Given that both will benefit.
					</p>

					<p class="paragrafoPost">
						Another consequence of the incentive by the company is that 
						this creates a loyalty of its internal customers, the employees, 
						generating a greater identification and motivation in them. 
						In addition, it becomes a great tool to win new and better employees.
					</p>
					
					<p class="paragrafoPost">
						But training just by training is not enough. 
						It needs to be done in an innovative and personalized 
						way for each type of audience.  
					</p>

					<h3 class="subtituloPost">Continuity</h3>
					<p class="paragrafoPost">
						To be effective, the training should not happen in a 
						timely manner, but rather, become part of the 
						company’s culture. Being continuous and stimulating 
						the participation and interest of more and more employees.
					</p>

					<p class="paragrafoPost">
						Hearing the employee’s opinion is primordial to 
						know if the best approach is being done. One of 
						the biggest difficulties for the employee to remain 
						interested in learning is availability. With 
						schedules full of daytime activities, it seems 
						unthinkable to stop for hours to take a class 
						in a room. For this, a strong partner of companies 
						is the e-learning, which allows the employee to 
						perform the training at home or in a fragmented 
						way during moments of relief at work.
					</p>
					
					<p class="paragrafoPost">
						It is essential that the adaptation be constant in 
						this process and that the managers of the company 
						can analyze the results, evaluate the process and 
						change the course of the training, thus creating a 
						company with much greater chances of growth 
						and more united employees. 
					</p>
					
					<p class="sobreArtigo">
						Article written and translated by Lucas Celestino in December 3rd, 2017.<br />
						Published in December 06th, 2017 at 11:15 p.m.
					</p>					
			    </div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/script.js"></script>
	</body>
</html>