<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>The 5 phases of a project according to PMBOK - Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/en/">Home</a></li>
						<li class="menu"><a href="/en/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">The 5 phases of a project according to PMBOK</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						PMBOK, for those who don’t know it, it’s a best practices guide 
						for project management published by PMI (Project Management Institute), 
						one of the main references on the subject. According to the PMBOK, 
						the definition of a project is "a temporary effort undertaken to 
						create a product, service or exclusive result." i.e., a project 
						is not something continuous, endless or repetitive and cyclical.
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/as-5-fases-de-um-projeto-de-acordo-com-o-pmbok-1.png" 
					class="img-responsive img-fluid" alt="PMBOK" width="600" height="300" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">
					<p class="paragrafoPost">
						Therefore, PMBOK divides a project into five phases:
						<ul>
							<li class="paragrafoPost">Project Conception and Initiation;</li>
							<li class="paragrafoPost">Project Definition or Planning;</li>
							<li class="paragrafoPost">Project Launch or Execution;</li>
							<li class="paragrafoPost">Project Performance and Control;</li>
							<li class="paragrafoPost">Project Close.</li>
						</ul>
						
						<span class="paragrafoPost">Now, let’s discuss each one of this phases.</span>
					</p>
				
					<h3 class="subtituloPost">1. Project Initiation</h3>
					<p class="paragrafoPost">
						This is the start of the project. At this stage the first information 
						about the project are raised: who are the stakeholders, how much it 
						will costs,  what are the purposes and deadlines. It is time to have 
						an overview of what needs to be done and the processes involved, 
						the opening term and list of stakeholders is defined.
					</p>
					
					<h3 class="subtituloPost">2. Project Definition or Planning</h3>
					<p class="paragrafoPost">
						After the approval of the project, the information needs to be detailed. 
						It is necessary to measure the goals and resources needed, from financial 
						resources, materials, equipment and labor. A timeline is defined and the 
						risks that can impact costs, quality and deadlines are analyzed.					
					</p>
					
					<h3 class="subtituloPost">3. Project Launch or Execution</h3>
					<p class="paragrafoPost">
						During the execution phase, it is when actually begins to carry out the 
						activities for the realization of the project. The management here is 
						to monitor whether the activities and deliveries are being made as 
						planned, besides adjust the initial planning if necessary so it 
						won’t interfere negatively in the final result.
					</p>

					<h3 class="subtituloPost">4. Project Performance and Control</h3>
					<p class="paragrafoPost">
						This phase occurs in parallel with the execution phase. While 
						the work teams are working on the project itself, the manager 
						monitors and controls the development of the project through 
						performance indicators, chart controls and compares with the 
						documentation previously made. In this way quality and 
						delivery are guaranteed within the deadlines.
					</p>

					<h3 class="subtituloPost">5. Project Close</h3>
					<p class="paragrafoPost">
						Upon completion of the project, the contracts should be closed and a 
						documentation validating the final delivery to all parties involved. 
						It is also part of the closure to discuss the experiences witnessed 
						during all phases to prepare documentation with the lessons learned 
						that can improve the management model in future projects.
					</p>

					<p class="sobreArtigo">
						Article written by Natália Mendes Ceoldo in December 05th, 2017.<br />
						Translated by Carlos Melo in December 06th, 2017.<br />
						Published in December 06th, 2017 at 10:52 p.m.
					</p>	
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/script.js"></script>		
	</body>
</html>