<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Home</a></li>
						<li class="menu"><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h2 class="text-center tituloPost">How to use Content Managent System to boost your business</h2>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						In a corporative world so globalized as we have nowadays, 
						keeping a good relation with your clients, partners, 
						suppliers, and with your own team as well, it’s crucial. 
						And how can you work to keep this relation?
					</p>	
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/como-geracao-de-conteudo-impulsiona-o-seu-negocio-1.png" class="img-responsive img-fluid" alt="Geração de Conteúdo" width="600" height="300" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="E-mail do LinkedIn / Corporativo">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity<</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">	
					<h3 class="subtituloPost">1- Take every opportunity</h3>
					<p class="paragrafoPost">
						Which opportunities? You may ask yourself. A successful 
						business is a business that knew how to improve in given 
						opportunities. Analyzing where your competitors, failed 
						to live up the expectations with their clients, after all 
						who is more important to your business than your clients? 
						Your clients need and easy communication channel to get 
						to know you and your work better, how your company works, 
						how you could help him and some other things. You can 
						solve this problem, with a simple solution that a 
						lot of companies don’t look at, a website.
					</p>

					<h3 class="subtituloPost">2- How to create my own website?</h3>
					<p class="paragrafoPost">
						There are some solutions on the market that you don’t 
						even need to have technical knowledge or being dependent 
						on an IT team, they come with templates and widgets, 
						and you can build it in your own way, can be a customer 
						service or an online market place, creating an unique identity. 
						These solutions are very intuitive and have a great usability,
						making the users life much easier, a lot of companies create 
						their website with no discernment, just to say that they have 
						a website, complicate to use it and they don’t get the customer 
						attention, they are losing a lot of opportunities there, 
						because potential clients go somewhere else, where they 
						can understand their environment and can make better use of it.
					</p>
					
					<h3 class="subtituloPost">3- Intranet</h3>
					<p class="paragrafoPost">
						Despite making the users life easier, you need to look 
						to the other side too, your contributors, 
						and how do you do that? A good intranet, a platform 
						that allows you to link different areas and departments 
						of your company, even being physically distant, allowing 
						to avoid unnecessary spends with mail, telephone calls, 
						printing documents and many others, as you are not 
						spending time anymore with these trivial activities, 
						your business will improve it’s performance, as you 
						won’t have to wait for some documents or an 
						authorization to start an activity. As quoted previously, 
						you can get a solution on the market that you don’t 
						need any technical knowledge. A well-made intranet 
						with an easy understanding, your contributors will 
						be more productive and efficient.
					</p>

					<h3 class="subtituloPost">4- Extranet</h3>
					<p class="paragrafoPost">
						It’s very similar to the intranet system with the 
						difference being, it’s an extension of your company 
						to your suppliers, sellers and partners. The main 
						difference between this and the intranet, is that 
						the intranet is a private system of your company, 
						on the other hand the extranet is extended to your 
						users, but their access to corporative information 
						is reduced, it is a private section of your website 
						that requires username and password to have access.
					</p>
					
					<p class="paragrafoPost">
						These are some ways to improve your business with your 
						own hands and make it grow until you are self-sufficient 
						in this topic, besides, self-sufficiency in some 
						segments, allows you to invest more time in others.
					</p>

					<p class="sobreArtigo">
						Article written and translated by Victor Hussein in December 5th, 2017.<br />
						Published in December 05th, 2017 at 9:24 p.m.
					</p>					
				</div>
			</div>
		</div>

				<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/script.js"></script>
	</body>
</html>