<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>E-learning - Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Home</a></li>
						<li class="menu"><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">E-learning</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						When it comes to technology, the first thing that comes 
						to mind is entertainment. Cell phones, tablets are always 
						the biggest focus of people. However, many people do not 
						realize how technology can improve areas in our society. 
						Whether in health, communication, transportation or any 
						other area, provided it is properly used,  technology can 
						make a huge difference. For instance, when it is used for 
						educational purpose. We will discuss more this topic 
						in this article.
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/aprendizado-virtual-1.png" class="img-responsive img-fluid" alt="Aprendizado" width="600" height="300" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">	
					<h3 class="subtituloPost">The world today</h3>
					<p class="paragrafoPost">
						Professional and corporate training is one of the most 
						relevant topic in the current market. Companies seek to 
						train their professionals and students in a fast and 
						practical way, using an integrated system that provides 
						digital communication in an innovative way through 
						fast solutions that meet user’s needs.
					</p>
					
					<p class="paragrafoPost">
						Digital platforms bring more advantages regarding the 
						student understanding than only the organization of 
						subjects or the follow-up of the tasks during the classes, 
						after all for each person there is a path of 
						knowledge to be covered.
					</p>
					
					<h3 class="subtituloPost">Virtual Classroom</h3>
					<p class="paragrafoPost">
						The new teaching model is based on providing easy access 
						to a structured methodology with interaction, questioning 
						and exemplification functions, with pedagogical and 
						technical support. The program is planned through a 
						system with established hours that must be fulfilled 
						by the user according to their availability.
					</p>
					
					<p class="paragrafoPost">
						The course management is done by the digital platform 
						and allows the use of media and interaction between 
						student and teacher, through the exchange of information 
						by forum, videos and documents needed for study.
					</p>
					
					<p class="paragrafoPost">
						As the technology advances, the way that people 
						interact with each other is changing constantly, 
						due to the existence of a diversity of information 
						that is available today on the internet. 
						The purpose of the virtual classroom is precisely 
						to provide a modular structure with subjects 
						related to the course allowing the user a 
						flexible teaching.
					</p>

					<p class="sobreArtigo">
						Article written by Otávio Moreira da Silva in December 6th, 2017.<br />
						Translated by Carlos Melo in December 6th, 2017.<br />
						Published in December 6th, 2017 at 8:51 p.m.
					</p>	
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/script.js"></script>		
	</body>
</html>