<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>ERP – What it is, and why it's so important to your business - Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Home</a></li>
						<li class="menu"><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">ERP – What it is, and why it's so important to your business</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<h3 class="subtituloPost">ERP</h3>
					<p class="paragrafoPost">
						ERP means Enterprise Resource Planning. It`s an information 
						system that manages all the operations of your enterprise. 
						It takes care from the payment of the employees, to the revenues, 
						including the business process management. Thus, all the 
						administration and operation related of the enterprise 
						that can be done digitally is done in the ERP.
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/erp-o-que-e-porque-e-tao-importante-para-o-seu-negocio-1.png" class="img-responsive img-fluid" alt="Estrutura ERP" width="600" height="300">
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">	
					<h3 class="subtituloPost">Modules</h3>
					<p class="paragrafoPost">
						ERP is usually divided in two modules, which means two ways 
						to see it, department and segment. In the department view, 
						we have the accounting, financial, buyers, etc. In this view 
						can be seen all the process of each department in the same screen. 
						It makes the management easier to the user, as so we don`t have 
						people from outside of the payment list seeing those information, 
						as well as the production employees can’t see the financial area. 
						The segmentation view, unlike the department view, shows only one 
						process of the segmentation. As an example, a transportation 
						enterprise has a process aiming just their activities, unlike 
						a school, that will have the capability to control the absences. 
						The module with the department view has standard routines that 
						hardly changes from one enterprise to another.
					</p>

					<h3 class="subtituloPost">Objectives</h3>
					<p class="paragrafoPost">
						The goal of the ERP is to organize the work in an enterprise. 
						This happens storing information from the clients, employees, 
						products etc and making they have a relation. The ERP then 
						integrates the processes based on rules pre-established by the 
						company to serve as daily tasks for employees of the company.
					</p>

					<h3 class="subtituloPost">Benefits</h3>
					<p class="paragrafoPost">
						The benefits of adopting the ERP system can be tangible or intangible. Thus, we can quote:
						
						<ul class="paragrafoPost">
							<li>Cost reduction related with material waste and labor;</li>
							<li>Process automation;</li>
							<li>Sorter delivery time;</li>
							<li>IT cost reduction</li>
							<li>Increase revenue and profit.</li>
						</ul>
					</p>
						
					<p class="paragrafoPost">
						To the intangible ones we have:

						<ul class="paragrafoPost">
							<li>Tax management with lower risk of fine;</li>
							<li>Better communication between sectors;</li>
							<li>Better use of the managers’ time;</li>
							<li>Help in decision making;</li>
							<li>Improvement in costumers’ relationship.</li>
						</ul>
					</p>
					
					</br>
					
					<p class="paragrafoPost">
						<strong>
							Therefore, the ERP is responsible for organizing your company. Being an indispensable tool to manage the growth of your business.
						</strong>
					</p>
						<p class="sobreArtigo">
						Article written and translated by Lucas Celestino in December 3rd, 2017.<br />
						Published in December 06th, 2017 at 11:28 p.m.
					</p>
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="/js/script.js"></script>		
	</body>
</html>