<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>The importance of an Access Control Management System - Transforma Negócios</title>
		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/">Home</a></li>
						<li class="menu"><a href="/about">About</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">The importance of an Access Control Management System</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						Companies invests millions every year in information security, 
						and this includes access control management and why is it so 
						important to invest in a solution like this?
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/a-importancia-da-gestao-de-controle-de-acesso-no-negocio-1.png" class="img-responsive img-fluid" alt="Negócios" width="600" height="300">
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">
					<h3 class="subtituloPost">Security</h3>
					<p class="paragrafoPost">
						To everything work and flow as expected, 
						your company requires at least minimal security 
						protocols to avoid some problems that might happen. 
						A simple management of access control, resolves a 
						lot of problems, providing user permissions, on what 
						functionalities he should have access on the system, 
						what time he can use the system, because does not 
						makes any sense a member of the development team, 
						have access to information that managers uses to 
						make decisions, allowing that every contributor, 
						focus only on his activities.
					</p>
					
					<p class="paragrafoPost">
						Define the time and how long the user will have access 
						is extremely important, after all, if an employee is 
						on vacation, there is no reason for him to use the 
						system, with your company is caught on an audit, 
						an employee working on vacation, it will harm you 
						and your business. In a more extreme scenario 
						where the employee is no longer working for the 
						company and his user still online on the system 
						forever and can be used freely, an adequate system, 
						deactivates or locks the user as soon as possible.
					</p>
					
					<p class="paragrafoPost">
						Besides that, you need to register what your 
						employees are doing, and who is doing it, if 
						something that compromise a data base happens, 
						impair the system, or even worse, affect some client 
						in a negative way, someone is responsible for that, 
						and if your system has an activity log, it would 
						be easy to identify who was guilty and what he 
						have done, making the corrective measure 
						faster and precise.
					</p>
					
					<h3 class="subtituloPost">Practicality</h3>
					<p class="paragrafoPost">
						Password forgetfulness isn’t so common, but in a 
						company with a lot of employees, this may become a 
						problem. Imagine if there is a day where dozens or 
						hundreds of people forgot or lost their password, 
						to recover, your company would spend a lot of time 
						that could be used in another activity that brings 
						value to your business. The are some solutions on 
						the market that avoid this kind of problem, making 
						this recovering or changing password process much 
						more comfortable for the user, allowing him to 
						choose how he would like to recover or change 
						his password, making him self-sufficient, 
						there is no need to allocate someone in this 
						type of process, making it a lot faster, as 
						it is such an easy problem to solve.
					</p>
					
					<p class="sobreArtigo">
						Article written and translated by Victor Hussein in December 04th, 2017.<br />
						Published in December 07th, 2017 at 3:29 a.m.
					</p>			
                </div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/script.js"></script>
	</body>
</html>