<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Startups – What are and first steps - Transforma Negócios</title>
		
		<meta charset="utf-8" name="description" content="Startups creation.">
		<meta http-equiv="content-language" content="pt-br">
		<meta name="keywords" content="erp, tips, negócios, business, PMBOK">
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110678226-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-110678226-1');
		</script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/en/">Home</a></li>
						<li class="menu"><a href="/interviews">Interviews</a></li>
						<li class="menu"><a href="/en/about">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/articles/startups-primeiros-passos">PT</a></li>
						<li><a href="/en/articles/startups-first-steps">EN</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">Startups – What are and first steps</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						Today, when talking about entrepreneurship, one hears 
						a lot about startups. But what exactly is a startup? 
						In a very simplified way, it is an emerging company, 
						usually of technology and that is starting in the market. 
						In other words, a small company. But whoever thinks that a 
						startup does not need a lot of organization is wrong. 
						To get an idea, only one out of ten companies that are 
						emerging can thrive and succeed in business. But how can 
						a company get organized and increase the chances of success?
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/startups-o-que-sao-e-os-primeiros-passos-1.png" class="img-responsive img-fluid" alt="Startup" width="600" height="300" />
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">
					<p class="paragrafoPost">
						There are many business plans on the market today for companies 
						that help them to have a North, especially at the beginning, 
						and to make a constant observation of their health. These plans 
						always have three bases: financial, organizational and efficiency. 
						This work, although difficult, is essential for the company 
						to bear fruits in the future.
					</p>
					
					<p class="paragrafoPost">
						In order to measure the desired reach of our company in the market 
						and the focus that we must have, we can use 
						the Business Model Canvas, for example. In this business plan 
						the manager evaluates points such as the target customer, 
						how to get them, how to keep our company productive, and 
						what cash flow we should get in and out. BMC is a great 
						tool to validate your business, evaluate whether the 
						company has good chances in the market, or not, among 
						other features. However, you should always consider one 
						or more plans to validate your company, not forgetting 
						that this evaluation has to be periodic and that 
						Business Model Canvas is not the only means, and 
						not necessarily the best to your business.
					</p>
					
					<p class="paragrafoPost">
						Finally, having done this, one must organize 
						the company so that there is no wastage, rework 
						or serious organizational error. One of the ways 
						to achieve efficiency in administration is by using 
						business management softwares that fits the needs of 
						your company. In the market, there are several solutions 
						that can be focused on a certain area or process and also 
						the solutions that integrate all the sectors of your business. 
						But then, after all this investment and study, 
						can we ensure that your company will succeed in 
						the market? No, but you're much more likely to thrive.
					</p>
					
					<p class="sobreArtigo">
						Article written by Adolpho Ferreira in December 05th, 2017.<br />
						Translated by Lucas Celestino in December 06th, 2017.<br />
						Published in December 06th, 2017 at 11:38 p.m.
					</p>	
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>
		
		<script src="/js/script.js"></script>
		
	</body>
</html>