<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

		<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<title>Tips to set off a little investiment business - Transforma Negócios</title>

		
		<link rel="icon" href="/assets/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/">
						<img id="logo-barra" alt="Brand" class="logoMenu img-rounded" height="40" width="65" align="middle" src="/assets/logo.bmp" />
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="menu"><a href="/en/">Home</a></li>
						<li class="menu"><a href="/interviews">Interviews</a></li>
						<li class="menu"><a href="/en/about">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/articles/dicas-negocio-investindo-pouco">PT</a></li>
						<li><a href="/en/articles/tips-business-investing-low">EN</a></li>
					</ul>
				</div>
			</div>
		</nav>
		
		
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-1 col-sm-0"></div>
				
				<div class="text-center col-lg-8 col-md-10 col-sm-0">
					<h1 class="text-center tituloPost">Tips to set off a little investiment business</h1>
				</div>

				<div class="col-lg-2 col-md-1 col-sm-0"></div>			
			</div>	
		</div>
		
		<div class="container">
			<div class="row" style="margin-bottom: 20px; margin-top: 40px;">
				<div class="conteudo col-lg-6">					
					<p class="introducaoPost">
						Do you know that idea you have but you believe will be too difficult
						to take out the papper? Or the fear to set off a business, investing too
						much and don't getting back anything soon? Calm down. In this post, we 
						gotta show you some interesting tips, that will help to start off this journey
						in the business world in a simple manner and keeping away of some problems.
					</p>
				</div>
				
				<div class="conteudo col-lg-5">					
					<img src="/assets/dicas-para-ter-um-negocio-investindo-pouco-1.png" class="img-responsive img-fluid" alt="Negócios" width="600" height="300">
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-2"></div>
				
				<div class="col-lg-8 text-center">
					<div class="form text-center">
						<h4 class="text invite">Do you want to get tips on how to create a little investing business?</h4>
						<input type="text" id="nome" name="nome" class="inputText form-control text-center" placeholder="Full Name">
						<br>
						<input type="text" id="email" name="email" class="inputText form-control text-center" placeholder="LinkedIn email or Corporative">
						<br>
						<div style="background-color: #75a595;" class="form-control">
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PF"><span class="radioText">Individual Entity</span>
							</label>
							<label class="radio-inline">
							  <input type="radio" name="tipo" value="PJ"><span class="radioText">Legal Entity</span>
							</label>
						</div>
						<br>
						<button type="button" id="confirmar" class="btn btn-danger form-button" onclick="validarDados()">START DOWNLOAD</button>
						<br>
						<span id="sucess" class="alert alert-success invisible" role="alert">Thank you, your download will start soonely...</span>
					</div>
				<div>
				
				<div class="col-lg-2"></div>
			</div>
		</div>
		
		
		<div class="container">
			<div class="row">
				<div class="conteudo col-lg-12" style="padding: 20px;">
					<h3 class="subtituloPost">1 – Set up a business in an area you already know</h3>
					<p class="paragrafoPost">
						First, make a self-analysis of which are your main skills.
						To endeavour is optimize costs all the time, soonely, when
						capital to invest is low, it's essential to take advantage of
						all of your experience already acquired in the market to get space 
						and implement actions that aim fast return in the beginning of
						the operations.
					</p>
					
					<h3 class="subtituloPost">2 - Are you afraid everything goes wrong? Take it easy!</h3>
					<p class="paragrafoPost">
						It's necessary to think big, but never keep both feet off the ground.
						It's necessary to plan action in a short period of your company to 
						achieve your goals more fastly. Thereby, you will get confidence to 
						take more risks.
					</p>
					
					<h3 class="subtituloPost">3 – Ask for friends and family support</h3>
					<p class="paragrafoPost">
						The first steps area always the hardest in every situation.
						To endeavour is not different. Having people that trust you might 
						help to important advances in this initial step of your business. 
						For example, friends and family disposed to support with low sums.
					</p>
					
					<h3 class="subtituloPost">4 – Try to focus in a niche</h3>
					<p class="paragrafoPost">
						Identify an area you can really help to make the difference.
						Focus in an specific niche.
					</p>
					
					<h3 class="subtituloPost">5 –Understand your demand well to don't lose money</h3>
					<p class="paragrafoPost">
						Before offering a product, it is important to 
						understand and to attend the market demand. 
						It's necessary to find out the first interested people to acquire 
						your service, thus, the business will have great chances to succeed,
						with no capital loses in validation.
					</p>
					
					<h3 class="subtituloPost">6 – Propagate your ideas, do not fear plagiarism!</h3>
					<p class="paragrafoPost">
						Talk about your ideas for several people.
						This is worth more than the fear of having your ideas stolen. 
						It's normal a business having concurrence and it's not because 
						you launch a product/service before the others that you will 
						be the market leader. This disclosure will help when you launch 
						you business.
					</p>
					
					<h3 class="subtituloPost">7 - Transform your friends in your first customers</h3>
					<p class="paragrafoPost">
						Propagate and offer your product or service to people close to you, 
						in order them get to know a start, spontaneously, a propagation in 
						their social environment. Besides being the least expensive, 
						spontaneous media is the one that brings a more effective return.
					</p>
					
					<h3 class="subtituloPost">8 – Learn new skills to avoid spending money with hirings</h3>
					<p class="paragrafoPost">
						Learn more about your job - make research in blogs and commercial videos, for instance.
						This small initial tasks generate a lot of costs in case they are outsourced.
						The more you do the things, the better you will save your money.
					</p>
					
					<h3 class="subtituloPost">9 – Consider possibilities of endeavour digitally</h3>
					<p class="paragrafoPost">
						Digital Business are perfect for the ones who have disponible time and low 
						capital to invest. A good idea of app or service to allow you to make quick 
						ajusts and refine your offer without requiring working capital or point purchase.
					</p>
					
					<h3 class="subtituloPost">10 – Study about digital marketing</h3>
					<p class="paragrafoPost">
						Nowadays, to understand about digital marketing is essential. 
						Otherwise, to show up in searching tools, you will have to 
						expend the services of a person with such knowledge.
					</p>
										
					<p class="sobreArtigo">
						Article written by Bianca Lucena in December 3rd, 2017.<br />
						Translated by Mauricio Souza Couto in December 7th, 2017.<br />
						Published in December 7th, 2017 at 5:01 a.m.
					</p>
					
				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer>
			<hr style="margin: 5px;">
			<div class="container">    
				<div class="row">
					<div class="col-lg-12" align="center">
						<a><img style="margin-top: 5px;" alt="Brand" height="100" width="150" class="img-rounded" src="/assets/logo.bmp"></a>    
					</div>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<ul class="list-inline text-center">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Transforma-Neg%C3%B3cios-174175363170072/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/transformanegocio/" target="_blank">
									<span class="fa-stack fa-lg">
										<i class="fa fa-circle fa-stack-2x"></i>
										<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
									</span>
								</a>
							</li>
						</ul>
						
						<p class="copyright text-muted text-center">Copyright © TransformaNegocios.com 2017</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="/js/script.js"></script>
	</body>
</html>